################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToDoApplicationMain2/FileContentIndex
/.vs/ToDoApplicationMain22/FileContentIndex
